openapi: "3.0.0"
info: 
  title: "User Account Service API"
  description: "This is the API for the User Account Service. It describes the models it employs and data it returns"
  version: "1.0.0"
servers:
- url: https://mathdojoio.cloud.tyk.io/user-account-service-np
  description: Development server
- url: https://mathdojoio.cloud.tyk.io/user-account-service-pp
  description: Staging server
- url: https://mathdojoio.cloud.tyk.io/user-account-service-pr
  description: Production server
components:
  schemas:
    Organisation:
      allOf:
        - $ref: '#/components/schemas/AccountHolder'
        - type: object
          properties:
            adminUsers:
              type: array
              items:
                type: object
                properties:
                  adminUser:
                    allOf:
                      - type: object
                      - $ref: '#/components/schemas/User'
            billingDetails:
              type: object
              properties:
                billingAccountType:
                  type: string
                  enum:
                    - "free"
                    - "educator"
                    - "corporate"
                paymentProcessor:
                  type: string
                  enum:
                    - "stripe"
                idOnPaymentProcessor:
                  type: string
    User:
      allOf:
        - $ref: '#/components/schemas/AccountHolder'
        - type: object
          properties:
            permissions:
              type: array
              items:
                type: string
                enum:
                  - "consumer"
                  - "creator"
                  - "org-admin"
                  - "global-admin"      
    AccountHolder:
      type: object
      required:
        - accountType
        - id
        - accountVerified
        - name
      properties:
        id: 
          type: string
        accountVerified:
          type: boolean
        name:
          type: string
        profileImageLink:
          type: string
        accountType:
          type: string
          enum:
            - "user"
            - "organisation"

    
